.dropzone{
    margin-left: 5%;
}
.cover-wrap{
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
    width: 300px;
    height: 400px;
    overflow: hidden; 
}
.cover{
    display: flex;
    position: relative ;
    min-height: 100%; 
    min-width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.label{
    margin-left: 5%;
    margin-top: 20px;
    position:absolute;
}
.input{
    margin-left: 5%;
    margin-top: 40px;
    position:absolute;
}
.left-button{
    
    position:relative;
    margin-left: 25%;
}