.all-users {
    /* background-color: darkviolet; */
    font-style:oblique;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
}

.users-table {
    background-color: gray;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
}