.directionsContainer{
    position: absolute;
    top: 60px;
    width: 360px;
    display: inline-block;
}

#myMap{
    position: absolute;
    right: 0px;
    height:90%;
    width:calc(100% - 380px);
}
