
/* Dropdown Menu */

.dropdown {
  position: absolute;
  z-index: 20000;
  top:auto;
  right:0cm;
  width: 220px;
  background-color: rgba(37, 37, 37, 0.926);
  border: 1px solid #474a4d;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
}

.menu {
  width: 100%;
}
.avatar {
  border-radius: 50%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item .icon-button {
  cursor: pointer;
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  cursor: pointer;
  filter: none;
}

.menu-item:hover {
  cursor: pointer;
    filter: brightness(1.2);
}

.icon-right {
  cursor: pointer;
  margin-left: auto;
}
