.all-playlists {
    color: palevioletred;
    margin: 5%;
}
.cover-card{
    margin-top: 5px;
    margin-left: 5px;
    width: 90px;
    height: 90px;
    overflow: hidden;
    display: inline-block;
}
.text-card{
    margin-left: 5px;
    font-size: 13px;
    position: absolute;
    display: inline-block;
}
.all-btn{
    z-index: 1000;
    position: absolute;
    right:    5%;
    bottom:   5%;
}