.updateUser{
    margin-top: 5%;
}
.dropzone{
    margin-left: 5%;
}
.avatar-wrap{
    display: inline-block;
    margin-top: 20px;
    margin-left: 5%;
    width: 400px;
    height: 400px;
    overflow: hidden; 
}
.avatar-img{
    display: flex;
    position: relative ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
.label{
    margin-left: 5%;
    margin-top: 20px;
    position:absolute;
}
.label2{
    margin-left: 5%;
    margin-top: 85px;
    position:absolute;
}
.input{
    margin-left: 5%;
    margin-top: 40px;
    position:absolute;
}
.left-button{
    
    position:relative;
    margin-left: 25%;
}