.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: rgb(80, 80, 80);
  padding: 0;
}

.logo{
  margin-left: 20px;
  height: 80px;
}
.nat-icon-text {
  display: inline-flex;
  color: black;
}
.nav-icon{
  display: inline-flex;
  color: black;
}

p{
  text-decoration: none;
  color: rgb(216, 216, 216);

}
.dropdown {
  position: absolute;
  top:auto;
  right:0cm;
  width: 220px;
  background-color: rgba(37, 37, 37, 0.926);
  border: 1px solid #474a4d;
  border-radius: 8px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
}
li {
  list-style-type: none;
}
.menu {
  width: 100%;
}
.avatar {
  border-radius: 50%;
  margin-right: 20px;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background 500ms;
  padding: 0.5rem;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}

.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
    filter: brightness(2);
}

.icon-right {
  margin-left: auto;
}
