.playlistById {
    margin-left: 5%;
}
.cover-id-wrap{
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    width: 300px;
    height: 400px;
    overflow: hidden; 
}
.cover-id{
    display: flex;
    position: relative ;
    min-height: 100%; 
    min-width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}
   .playlist-elements {
       font-size: 25px;
   }

   .edit-btn{
    z-index: 1000;
    position: fixed;
    right:    5%;
    bottom:   5%;
}
   .card-playlist {
    align-items: center;
}

   #playlist-tracks-details {
       font-size: 10px;
   }

   #card-title {
       font-size: 15px;
   }
.tracks{
    height: 30%;
}
   .table-tracks {
       margin-top: 25px;
       width: 25%;
   }
.label-1{
margin-top: 5%;
position:absolute;
}
.label-2{
    margin-top: 8%;
    position:absolute;
}
   #pl-title {
       font-size: 25px;
       text-align: center;
       color: grey;
   }

   #pl-duration {
       font-size: 15px;
       text-align: center;
       margin-top: 10px;
       color: grey;
   }

   .pl-btn {
       font-size: 10px;
       margin-left: 100px;
       margin-top: 20px;
       color: hotpink;
   }

   #detailed-tracks {
       font-size: 20px;
       text-align: center;
       color: grey;
       margin-top: 40px;
   }

 .btn-playlist-id {
    z-index: 1000;
    position: absolute;
    margin-top: 10px;
    left: 2%;
    top:2%;
 };