.create-playlist{
    display: flex;
  justify-content: center;
}
.create-text-input{
    display:block
}
.create-btn{
    z-index: 1000;
    position: absolute;
    right:    5%;
    bottom:   5%;
}
.cover-create-wrap{
    display: inline-block;
    margin-top: 5%;
    margin-right: 5%;
    width: 300px;
    height: 400px;
    overflow: hidden; 
}
.cover-create{
    display: flex;
    position: relative ;
    min-height: 100%; 
    min-width: 100%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}